

body {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 700px;
    padding: 20px 10px 20px 30px;
}

.container .title {
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
}

.container form .user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-info .input-box {
    margin: 13px 0 5px 0;
    width: 50%;
    max-width: 50%;
    height: 100px;
    max-height: 100%;
}

.user-info .input-box label {
    height: 30%;
    display: block;
    font-size: 18px;
    margin: 15px 1px 5px 1px;
}

.user-info .input-box input {
    width: 91%;
    height: 35%;
    font-size: 15px;
}

.user-info .input-box span {
}

.user-info .input-box .error {
    color: red;
}

.user-info .input-box .select-box {
    width: 93.5%;
    height: 42%;
}

.user-info .input-box .textarea {
    height: 35%;
    width: 91%;
    max-width: 91%;
    resize: none;
}

form .submit {
    height: 40px;
    margin: 40px 0;
}

form .submit input {
    height: 100%;
    width: 97%;
    color: white;
    background: #357EC7;
    font-size: 18px;
    border-radius: 15px;
    letter-spacing: 1px;
}

form .submit input:hover {
    background: #6495ED	;
}

.required:after {
    content:"*";
    color: red;
}

#error {
    color: red;
}
