.centre-box {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 8px;
}

.content form .user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

form .input-row {
    max-width: 80%;
    margin: auto;
}

form .row .col input {
    border-color: black;
}

form .row .col .username {
    height: 35px;
}

form .buttons-centre {
    position: relative;
    display: contents;
}

.user-info label {
    height: 30%;
    display: block;
    font-size: 18px;
    margin: 15px 1px 5px 1px;
}

.user-info input {
    width: 91%;
    height: 35%;
    font-size: 15px;
}

.user-info .error {
    color: red;
}

.user-info .select-box {
    width: 93.5%;
    height: 42%;
}

.user-info .textarea {
    height: 14%;
    max-width: 664px;
    resize: none;
    border-color: black;
}

.required:after {
    content:"*";
    color: red;
}

#error {
    color: red;
}

#inputFile {
    background-color: white;

}

/* Used for a loading animation when a photo is being compressed */
/* From W3Schools https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 16px solid #c0c0c0; /* Header grey */
    border-top: 16px solid #b70f0a; /* Header red */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
}

form .row .cr-slider {
    max-width: 300px;
}

form .row .photoInput {
    max-height: 80px;
    max-width: 755px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}