.centre-box {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.content form .user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

form .user-info .input-box {
    margin: 13px 0 5px 0;
    width: 50%;
    max-width: 50%;
    height: 100px;
    max-height: 100%;
}

.user-info .input-box label {
    height: 30%;
    display: block;
    font-size: 18px;
    margin: 15px 1px 5px 1px;
}

.user-info .input-box input {
    width: 91%;
    height: 35%;
    font-size: 15px;
}

.user-info .input-box .error {
    color: red;
}

.user-info .input-box .select-box {
    width: 93.5%;
    height: 42%;
}

.user-info .input-box .textarea {
    height: 35%;
    width: 91%;
    max-width: 91%;
    resize: none;
}

.required:after {
    content:"*";
    color: red;
}

#error {
    color: red;
}

#inputFile {
    background-color: white;
}

/* Used for a loading animation when a photo is being compressed */
/* From W3Schools https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 16px solid #c0c0c0; /* Header grey */
    border-top: 16px solid #b70f0a; /* Header red */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}