@import "themeColors.css";

.group-block {
    padding: 5px;
    background-color: white;
    border-radius: 8px;
    flex-grow: 1;
}

.show-users {
    color: var(--primary-dark);
    font-weight: bold;
    background-color: white;
    border: none;
}

.content > * {
    margin: 10px;
}