body {
    background-color: #f0e6e5;
}
.card-header {
    background-color: #b70f0a;
    color: white;
}
.btn-primary {
    background-color: #5e0202;
}

#error {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.cardContainer {
    margin-top:50px;
}