@import "themeColors.css";

.header {
    background-color: var(--primary);
    height:auto;
}

.header-top-group {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.navigation-tabs {
    display: inline;
}

.navigation-tabs a {
    padding: 5px 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #888888;
    color: white;
}

.title {
    padding: 20px 10px 5px 10px;
    display: flex;
    align-items: baseline;
    justify-content: start;
}

.title-name {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    padding-left: 5px;
    padding-right: 5px;
}

.profile-icon {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: none;
    margin: 10px;
    background-position: center;
    background-size: cover;
}

.title-date {
    color: #ffffff99;
    font-size: large;
}

.title-username {
    margin-left: auto;
    margin-right: 0;
    color: whitesmoke;
    font-size: large;
    position: relative;
    display: inline-block;
    margin-top: 33px;
}

.content {
    margin: 10px;
    width:calc(100% - 20px);
}

.detail-block {
    padding: 5px;
    min-height: 100px;
    background-color: white;
    border-radius: 8px;
    margin: 5px;
    flex-grow: 1;
    width:calc(100% - 10px);
}

.sprint-block {
    display:flex;
    width: 100%;
}

.sprint-label {
    background-color: white;
    border-radius: 8px;
    margin: 10px;
    padding: 2px;
    display: flex;
    justify-content: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #ff3823;
}

.sprint-title {
    font-weight: bold;
    color: #453737;
    font-size: large;
}

.sprint-date {
    color: #a0a0a0;
    font-size: small;
}

.sprint-description {
    color: #636363;
    padding-top: 5px;
}

* {
    font-family: 'Helvetica';
    box-sizing: inherit;
}

body {
    background-color: #f0e6e5;
    margin: 0;
    box-sizing: border-box;
}

.edit-button {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: none;
    background-color: #c0c0c0;
    color: #5e0202;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-project-button {
    height: 60px;
    width: 60px;
    border-radius: 40px;
    border: none;
    background-color: white;
    color: #5e0202;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: none;
    background-color: #e61610;
    color: white;
}

.detail-block {
    display: flex;
    justify-content: space-between;
}

a {
    color: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

.add-sprint {
    padding: 10px 20px 10px 10px;
    font-size: large;
    border-radius: 10px;
    border: 1px solid #5e0202;
    color: #5e0202;
    font-weight: bold;
    min-width: 50px;
    display: flex;
    align-items: center;
    margin: 10px;
}

button {
    cursor:pointer;
}

.error {
    color: red;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 12px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 8px;
  background-color: #f1f1f1;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: small;
  background-color: #eee;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  width: 100%;
  font-size: small;
  background-color: #eee;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}
.dropdown-content button:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block !important;
}

button:hover {
    cursor: pointer;
}

.error {
    color: red;
}

.required:after {
    content:"*";
    color: red;
}

.clickable {
    cursor: pointer;
}

.bi-calendar-event {
    margin: 5px;
}