@import "themeColors.css";

p, #calendarTitle {
    text-align: center;
}

.alert {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

#calendar {
    max-width: 950px;
    margin: 50px auto;
}

.defaultEventBorder {
    border-style: none !important;
}

.currentEventBorder {
    border-width: 2px !important;
    border-style: solid !important;
    border-color: black !important;
}

.fc-event-start {
    border-left-width: 10px !important;
}

.fc-event-end {
    border-right-width: 10px !important;
}

.fc-resource-area td {
    cursor: pointer;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: #ff9bd588;
}

.hidden {
    visibility:hidden;
}

/* Make the 'icon' events only take up as much space as they need to, to differentiate them from sprints */
/* problem: the event icon has some weird padding that means it won't centre properly :)
 might need to add a class to other elements in the event div to fix this */
.schedulable-icon {
    display: inline-block !important;
    padding-left: 3px;
    padding-right: 5px;
}