:root {
    --primary: #b70f0a;
    --primary-light: #ff3823;
    --primary-dark: #840705;
    --neutral-light: #f0e6e5;
    --neutral-mid: #c0c0c0;
    --neutral-dark: #929292;
    --neutral-darker: #232323;
    --remove-users: #ffb4b0;
    --remove-users-dark: #ff8a84;
    --select-light: #a8c6fa;
    --select-mid: #75a9f9;
    --select-dark: #3d8af7;
}