table {
    border-collapse: collapse;
    font-size: 1em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

thead {
    border-radius:10px 0;
}

tbody, tr {
    border-bottom: 1px solid #dddddd;
    height: auto;
}

tbody, tr:last-of-type {
    border-bottom: 2px solid #b70f0a;
}

th {
    background-color: #b70f0a;
    color: #ffffff;
    text-align: left;
}

th:first-child {
    border-radius:10px 0 0 0;
}

th:last-child {
    border-radius:0 10px 0 0;
}

td {
    padding: 12px 15px;
    height: auto;
}

th {
    height: 50px;
}

th a {
    display: block;
    padding: 12px 15px;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #f3f3f3;
}

.pagination {
    margin: auto;
    text-align: center;
    width: 30%;
}

.pages {
    width: 40px;
    height: 40px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}

.otherPages {
    color: #6495ED;
}

.currentPage {
    color: black;
}

.roles-list {
    flex-wrap: wrap;
    max-width: 100%;
}

.role {
    display: inline-flex;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #5e0202;
    color: #5e0202;
    align-items: center;
}

.add-role-button {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    color: white;
    border: none;
    background-color: #5e0202;
    justify-self: right;
}

.remove-role-button {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    color: #5e0202;
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: large;
}