<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${projectName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/form.css}" rel="stylesheet" />
</head>
<body>
<div class="header">
    <div class="title">
        <div class="title-name" th:text="${sprintLabel}" ></div>
    </div>
</div>
<div class="content">
    <form th:action="@{/teacherProjectDetails}" th:method="post">
        <div>
            <label for="sprintName">Sprint Name</label> <br/>
            <input id="sprintName" th:type="text" th:value="*{sprintName}" th:required="required"/>
</div><br/>
        <div class="horizontal-group">
            <div class="horizontal-group-element" >
                <label for="sprintStartDate">Sprint Start Date</label> <br/>
                <input id="sprintStartDate" type="date"  th:name="sprintStartDate" th:value="*{sprintStartDate}" th:required="required" />
            </div>
            <div class="horizontal-group-element" >
                <label for="sprintEndDate">Sprint End Date</label> <br/>
                <input id="sprintEndDate" type="date" th:name="sprintEndDate" th:value="*{sprintEndDate}" th:required="required" />
            </div>
        </div>
        <div>
            <label for="sprintDescription">Sprint Description</label> <br/>
            <textarea th:type="text" class="description-input" id="sprintDescription" th:value="*{sprintDescription}"></textarea>
        </div>
        <br/>
        <a th:href="@{'/teacherProjectDetails'}">
            <button class="cancel" type="button">Cancel</button>
        </a>
        <button class="save" type="submit"> Save </button>
    </form>
</div>
</body>
</html>