<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${projectName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link th:href="|../styles/main.css|" rel="stylesheet" />
    <link th:href="|../styles/form.css|" rel="stylesheet" />
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script th:src="|../../scripts/projectDetails.js|"></script>

<div th:replace="fragments :: header(title='Adding Sprint', subtitle=${projectName})"></div>

<div class="card">
    <div class="card-body" style="">
        <form th:action="@{../add-sprint/{id}(id = ${parentProjectId})}" method="post" th:object="${sprint}" modelAttribute="sprint">
            <div class="row">
                <div class="col">
                    <div class="form-floating input-group mb-3 limited-text-input">
                        <input type="text" id="sprintName" th:name="sprintName" th:value="${sprintName}" th:minlength="${minNameLen}" th:maxlength="${maxNameLen}" required class="form-control">
                        <label class="form-label" for="sprintName">Name</label>
                        <span class="input-group-text remaining-chars-field">...</span>
                    </div>
                    <span th:text="${invalidName}" class="text-danger"></span>
                    <span th:if="${#fields.hasErrors('sprintName')}" th:errors="*{sprintName}" class="text-danger"></span>
                </div>
                <div class="col-10">
                    <div class="form-floating input-group mb-3 limited-text-input">
                        <input type="text" id="sprintDescription" th:field="*{sprintDescription}" th:maxlength="${maxDescLen}" class="form-control" placeholder="description">
                        <label class="form-label" for="sprintDescription">Description</label>
                        <span class="input-group-text remaining-chars-field">...</span>
                    </div>
                    <span th:if="${#fields.hasErrors('sprintDescription')}" th:errors="*{sprintDescription}" th:errorclass="error"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="date" th:name="sprintStartDate" th:value="${sprintStartDate}" class="form-control" id="sprintStartDate" required th:min="${projectStart}" th:max="${projectEnd}">
                        <label for="sprintStartDate">Start Date</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3 has-validation">
                        <input type="date" th:name="sprintEndDate" th:value="${sprintEndDate}" class="form-control" id="sprintEndDate" required th:min="${projectStart}" th:max="${projectEnd}">
                        <label for="sprintEndDate">End Date</label>
                    </div>
                </div>
                <div class="col">
                    <a th:href="|../project/${parentProjectId}|" class="btn btn-neutral btn-lg">Cancel</a>
                    <button type="submit" class="btn btn-primary btn-lg">Save</button>
                </div>
            </div>
            <div class="row">
                <p th:if="${invalidDateRange}" th:text="${invalidDateRange}" th:class="error"></p>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    // Bind a 'characters remaining' display to their output
    showRemainingChars();
</script>
</body>
</html>
