<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Keeping SonarQube happy -->
    <title></title>
</head>
<body>
<!-- Event fragment -->
<div th:fragment="event">
    <div th:class="schedulable-box" th:id="'schedulable-box-' + ${boxId}" th:object="${event}"
         th:style="'background:linear-gradient(to right, '+ ${event.determineColour(sprints, false)} + '4c, '+ ${event.determineColour(sprints, true)} + '4c)'">
        <span th:id="'event-' + *{getId}" class="schedulable" data-toggle="tooltip" data-placement="top" th:title="*{getDescription()}">
            <div class="schedulable-left">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                </svg>
                <span th:text="*{getName}" ></span>
                <span class="schedulable-date" th:text="|${#lensfolioDates.toDisplayDateTimeString(event.getStartDate())} - ${#lensfolioDates.toDisplayDateTimeString(event.getEndDate())}|" ></span>
            </div>
            <div class="schedulable-right" th:if="${canEdit}">
                <span th:if="${canEdit}" class="me-2" th:style="'visibility: hidden'" th:class="'event-' + *{getId} + '-editing-box'">
                    <span class="spinner-border spinner-border-sm"></span>
                    <span class="fst-italic" th:class="'event-' + *{getId} + '-editing-text'"></span>
                </span>
                <button class="edit-button edit-schedulable-button" th:onclick="return showEditSchedulable([[*{getId}]], [[${boxId}]], [[*{getType}]], [[${event}]])">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                </button>
                <button class="delete-button delete-schedulable-button" type="submit" th:data-parameter1="*{getId()}" th:data-parameter2="*{getName()}" th:onclick="showDeleteEventModal(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'))">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                </button>
            </div>
        </span>
        <div th:replace="detailFragments :: editEventForm(
                event=${event},
                boxId=${boxId},
                minNameLen=${minNameLen},
                maxNameLen=${maxNameLen},
                maxDescLen=${maxDescLen},
                projectStart=${projectStart},
                projectEnd=${projectEnd})" ></div>
    </div>
</div>

<!-- Deadline fragment -->
<div th:fragment="deadline">
    <div th:class="schedulable-box" th:id="'schedulable-box-' + ${boxId}" th:object="${deadline}"
         th:style="'background:linear-gradient(to right, '+ ${deadline.determineColour(sprints, true)} + '4c, '+ ${deadline.determineColour(sprints, true)} + '4c)'">
        <span th:id="'deadline-' + *{getId}" class="schedulable" data-toggle="tooltip" data-placement="top" th:title="*{getDescription()}">
            <div class="schedulable-left">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
                    <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                </svg>
                <span th:text="*{getName}" ></span>
                <span class="schedulable-date" th:text="|${#lensfolioDates.toDisplayDateTimeString(deadline.getStartDate())}|" ></span>
            </div>
            <div class="schedulable-right" th:if="${canEdit}">
                <span th:if="${canEdit}" class="me-2" th:style="'visibility: hidden'" th:class="'deadline-' + *{getId} + '-editing-box'">
                    <span class="spinner-border spinner-border-sm"></span>
                    <span class="fst-italic" th:class="'deadline-' + *{getId} + '-editing-text'"></span>
                </span>
                <button class="edit-button edit-schedulable-button" th:onclick="return showEditSchedulable([[*{getId}]], [[${boxId}]], [[*{getType}]], [[${deadline}]])">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                </button>
                <button class="delete-button delete-schedulable-button" type="submit" th:data-parameter1="*{getId()}" th:data-parameter2="*{getName()}" th:onclick="showDeleteDeadlineModal(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'))">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                </button>
            </div>
        </span>
        <div th:replace="detailFragments :: deadlineEditForm(
                deadline=${deadline},
                boxId=${boxId},
                minNameLen=${minNameLen},
                maxNameLen=${maxNameLen},
                maxDescLen=${maxDescLen},
                projectStart=${projectStart},
                projectEnd=${projectEnd},
                editDeadlineForm=${editDeadlineForm})" ></div>
    </div>
</div>

<!-- Event edit form fragment -->
<div th:fragment="editEventForm">
    <div th:id="|editEventForm-${boxId}|" class="editSchedulableForm collapse">
        <div class="card">
            <div class="card-header" id="edit-event-form-header" th:text="|Editing ${event.getName}|"></div>
            <div class="card-body">
                <form th:action="@{edit-event/{id}(id=${event.getId})}" id="form" class="container-fluid" method="post">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating input-group mb-3 limited-text-input">
                                <input type="text" id="editEventNameInput" class="form-control" name="editEventName" th:minlength="${minNameLen}" th:maxlength="${maxNameLen}" aria-describedby="editEventNameFeedback" required th:value="${event.getName()}">
                                <label for="editEventNameInput" class="form-label">Name</label>
                                <div id="editEventNameFeedback" class="invalid-feedback"></div>
                                <span class="input-group-text remaining-chars-field">...</span>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-floating input-group mb-3 limited-text-input">
                                <input type="text" id="editEventDescriptionInput" name="editEventDescription" th:maxlength="${maxDescLen}" class="form-control" th:value="${event.getDescription()}">
                                <label for="editEventDescriptionInput">Description</label>
                                <span class="input-group-text remaining-chars-field">...</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" name="editEventStartDate" id="editEventStartDate" required aria-describedby="editEventStartDateFeedback" th:min="${projectStart}" th:max="${projectEnd}" th:value="${#lensfolioDates.toString(event.getStartDate())}">
                                <label for="editEventStartDate">Start Date</label>
                                <div id="editEventStartDateFeedback" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="time" class="form-control" name="editEventStartTime" id="editEventStartTime" required aria-describedby="editEventStartTimeFeedback" th:value="${#lensfolioDates.toDisplayDateTimeString(event.getStartDate()).substring(12,17)}">
                                <label for="editEventStartTime">Start Time</label>
                                <div id="editEventStartTimeFeedback" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3 has-validation">
                                <input type="date" class="form-control" name="editEventEndDate" id="editEventEndDate" required aria-describedby="editEventEndDateFeedback" th:min="${projectStart}" th:max="${projectEnd}" th:value="${#lensfolioDates.toString(event.getEndDate())}">
                                <label for="editEventEndDate">End Date</label>
                                <div id="editEventEndDateFeedback" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3 has-validation">
                                <input type="time" class="form-control" name="editEventEndTime" id="editEventEndTime" required aria-describedby="editEventEndTimeFeedback" th:value="${#lensfolioDates.toDisplayDateTimeString(event.getEndDate()).substring(12,17)}">
                                <label for="editEventEndTime">End Time</label>
                                <div id="editEventEndTimeFeedback" class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <ul id="errors" class="col"></ul>
                        <div class="col col-md-4 col-lg-2">
                            <button type="button" id="cancel" class="btn btn-secondary btn-lg buttons" th:onclick="return hideEditSchedulable([[${event.getId}]], [[${boxId}]], [[*{getType}]])">Cancel</button>
                        </div>
                        <div class="col col-md-3 col-lg-2">
                            <button type="submit" class="btn btn-primary btn-lg buttons pull-right">Save Changes</button>
                        </div>
                    </div>
                    <ul th:if="${editEventFormError}">
                        <li th:each="errMsg: ${editEventFormError}" th:text="${errMsg}" class="text-danger"></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Deadline edit form fragment -->
<div th:fragment="deadlineEditForm">
    <div th:id="|editDeadlineForm-${boxId}|" class="editSchedulableForm collapse">
        <div class="card">
            <div class="card-header" id="edit-deadline-form-header" th:text="|Editing ${deadline.getName}|"></div>
            <div class="card-body">
                <form action="javascript:;" th:data-url="@{edit-deadline/{id}(id=${deadline.getId()})}" onsubmit="return sendFormViaAjax(this)" class="container-fluid js-form form" method="post" th:object="${deadlineForm}">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating input-group mb-3 limited-text-input">
                                <input type="text" class="form-control" th:field="*{name}" th:minlength="${minNameLen}"
                                       th:maxlength="${maxNameLen}" aria-describedby="editDeadlineNameFeedback" required>
                                <label class="form-label">Name</label>
                                <span class="input-group-text remaining-chars-field">...</span>
                                <small id="editDeadlineNameFeedback" class="text-danger"></small>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-floating input-group mb-3 limited-text-input">
                                <input type="text" th:field="*{description}" th:maxlength="${maxDescLen}" class="form-control">
                                <label class="form-label">Description</label>
                                <span class="input-group-text remaining-chars-field">...</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" th:field="*{date}" required aria-describedby="editDeadlineStartDateFeedback" th:min="${projectStart}" th:max="${projectEnd}">
                                <label class="form-label">Date</label>
                                <div id="editDeadlineStartDateFeedback" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="time" class="form-control" th:field="*{time}" required aria-describedby="editDeadlineStartTimeFeedback">
                                <label class="form-label">Time</label>
                                <div id="editDeadlineStartTimeFeedback" class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <ul class="col"></ul>
                        <div class="col col-md-4 col-lg-2">
                            <button type="button" class="btn btn-secondary btn-lg buttons" th:onclick="return hideEditSchedulable([[${deadline.getId}]], [[${boxId}]], [[${deadline.getType}]])">Cancel</button>
                        </div>
                        <div class="col col-md-3 col-lg-2">
                            <button type="submit" class="btn btn-primary btn-lg buttons pull-right">Save Changes</button>
                        </div>
                    </div>
<!--                    <ul th:if="${editDeadlineFormError}">-->
<!--                        <li th:each="errMsg: ${editDeadlineFormError}" th:text="${errMsg}" class="text-danger"></li>-->
<!--                    </ul>-->
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
