<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/form.css}" rel="stylesheet" />
    <script th:src="@{/scripts/editProject.js}"></script>
</head>
<body>
<div th:replace="fragments :: header(title='Edit Project')"></div>
<div class="content">
    <form th:action="@{/edit-project/{id}(id = ${id})}"
          method="post" th:object="${project}">
        <label for="projectName" class="required">Project Name</label> <br/>
        <input id="projectName" type="text" th:field="*{projectName}">
        <span th:if="${#fields.hasErrors('projectName')}" th:errors="*{projectName}" th:errorclass="error" class="error"/>
        <br/>
        <div class="horizontal-group">
            <div class="horizontal-group-element" >
                <label for="projectStartDate" class="required">Project Start Date</label> <br/>
                <input id="projectStartDate" type="date" th:name="projectStartDate" th:value="${projectStartDate}" th:max="${projectEndDate}"
                       onchange="setNewMin()" th:required="required">
            </div>
            <div class="horizontal-group-element" >
                <label for="projectEndDate" class="required">Project End Date</label> <br/>
                <input id="projectEndDate" type="date" th:name="projectEndDate" th:value="${projectEndDate}" th:min="${projectStartDate}"
                       onchange="setNewMax()" th:required="required">
            </div>
            <div class="horizontal-group-element" id="element-description" >
                <label for="projectDescription">Project Description</label> <br/>
                <textarea class="description-input" id="projectDescription" th:field="*{projectDescription}"></textarea>
                <span th:if="${#fields.hasErrors('projectDescription')}" th:errors="*{projectDescription}" th:errorclass="error" class="error"/>
            </div>
        </div>
    </div>
    <div>
        <p th:text="${invalidDateRange}" th:class="error"></p>
    </div>
    <br/>
    <div class="buttons">
        <a th:href="@{/project/{id}(id = ${id})}">
            <button class="form-button cancel" type="button">
                Cancel
            </button>
        </a>
        <button class="form-button save" type="submit">Save</button>
    </div>

    </form>
</div>
</body>
</html>
