<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Sprint</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/form.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments :: header(title='Edit Sprint')"></div>
<div class="content">
    <form th:action="@{/edit-sprint/{id}(id = ${sprintId})}"
          method="post" th:object="${sprint}">
        <label for="name" class="required">Sprint Name</label> <br/>
        <input id="name" type="text" th:field="*{name}" th:name="name" th:value="${name}">
        <br/>
        <div class="horizontal-group">
            <div class="horizontal-group-element" >
                <label for="startDate" class="required">Sprint Start Date</label> <br/>
                <input id="startDate" type="date" th:name="startDate" th:value="${startDate}" th:required="required">
            </div>
            <div class="horizontal-group-element" >
                <label for="endDate" class="required">Sprint End Date</label> <br/>
                <input id="endDate" type="date" th:name="endDate" th:value="${endDate}" th:required="required">
            </div>
            <div class="horizontal-group-element" id="element-description">
                <label for="description">Sprint Description</label> <br/>
                <textarea class="description-input" id="description" th:name="description" th:value="${description}" th:field="*{description}"></textarea>
            </div>
        </div>
        <br/>
        <div class="buttons">
            <a th:href="@{/project/{id}(id = *{parentProjectId})}">
                <button class="form-button cancel" type="button">
                    Cancel
                </button>
            </a>
            <button class="form-button save" type="submit">Save</button>
        </div>
    </form>
</div>
</body>
</html>
