<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div th:fragment="sprintEditForm" class="sprintEditForm">
    <div th:id="|editSprintForm-${sprint.getId}|" class="collapse">
        <div class="card">
            <div class="card-header" id="edit-schedulable-form-header" th:text="|Editing ${sprint.getSprintName}|"></div>
            <div class="card-body">
                <form action="javascript:;" th:data-url="@{edit-sprint/{id}(id = ${sprint.getId})}" th:onsubmit="saveSprint([[${sprint.getId}]], this)" method="post"
                      th:object="${sprintForm}" id="sprint">
                    <input th:type="hidden" th:value="${projectId}" th:name="projectId">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating input-group mb-3 limited-text-input">
                                <input type="text" class="form-control" id="sprintName" th:value="${name != null} ? ${name} : ${sprint.getSprintName}" th:name="name" th:minlength="${minNameLen}" th:maxlength="${maxNameLen}" required>
                                <label for="sprintName" class="form-label">Name</label>
                                <span class="input-group-text remaining-chars-field">...</span>
                            </div>
                            <small id="nameFeedback" class="text-danger"></small>
                        </div>
                        <div class="col-10">
                            <div class="form-floating input-group mb-3 limited-text-input">
                                <input type="text" class="form-control" id="sprintDescription" th:value="${description != null} ? ${description} : ${sprint.getSprintDescription}" th:name="description" th:maxlength="${maxDescLen}">
                                <label for="sprintDescription" class="form-label">Description</label>
                                <span class="input-group-text remaining-chars-field">...</span>
                            </div>
                            <small id="descriptionFeedback" class="text-danger"></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="sprintStartDate" th:value="${startDate != null} ? ${startDate} : ${sprintStartDate}" th:name="startDate" required th:min="${projectStart}" th:max="${projectEnd}">
                                <label for="sprintStartDate" class="form-label">Start Date</label>
                            </div>
                            <small id="startDateFeedback" class="text-danger"></small>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3 has-validation">
                                <input type="date" class="form-control" id="sprintEndDate" th:value="${endDate != null} ? ${endDate} : ${sprintEndDate}" th:name="endDate" required th:min="${projectStart}" th:max="${projectEnd}">
                                <label for="sprintEndDate" class="form-label">End Date</label>
                            </div>
                            <small id="endDateFeedback" class="text-danger"></small>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <ul id="errors" class="col"></ul>
                        <div class="col col-md-4 col-lg-2">
                            <button type="button" id="cancel" class="btn btn-secondary btn-lg buttons" th:onclick="hideEditSchedulable('1', [[${sprint.getId}]], 'sprint')">Cancel</button>
                        </div>
                        <div class="col col-md-3 col-lg-2">
                            <button type="submit" data-cy="edit-sprint-save" class="btn btn-primary btn-lg buttons pull-right">Save Changes</button>
                        </div>
                    </div>
                    <ul th:if="${invalidDateRange}">
                        <li th:each="dateError: ${invalidDateRange}" th:text="${dateError}" th:class="error"></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>