<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Keeping SonarQube happy -->
    <title></title>
</head>
<body>
<div th:fragment="projectEditForm">
    <div id="editProjectForm-1" class="collapse">
        <div class="card">
            <div class="card-header" id="edit-schedulable-form-header" th:text="|Editing ${project.getProjectName}|"></div>
            <div class="card-body">
                <form action="javascript:;" th:data-url="@{edit-project}" th:onsubmit="showLongProjectModal(this, event)" method="post" th:object="${projectForm}" id="project">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating input-group mb-3 limited-text-input">
                                <input type="text" class="form-control" id="projectName" th:field="*{name}"  th:minlength="${minNameLen}" th:maxlength="${maxNameLen}" required>
                                <label for="projectName" class="form-label">Name</label>
                                <span class="input-group-text remaining-chars-field">...</span>
                            </div>
                            <small id="nameFeedback" class="text-danger"></small>
                        </div>
                        <div class="col-10">
                            <div class="form-floating input-group mb-3 limited-text-input">
                                <input type="text" id="projectDescription" th:field="*{description}" th:maxlength="${maxDescLen}" class="form-control">
                                <label for="projectDescription" class="form-label">Description</label>
                                <span class="input-group-text remaining-chars-field">...</span>
                            </div>
                            <small id="descriptionFeedback" class="text-danger"></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="projectStartDate" th:field="*{startDate}" required th:max="${projectEndDate}" onchange="setNewMin()">
                                <label for="projectStartDate" class="form-label">Start Date</label>
                            </div>
                            <small id="startDateFeedback" class="text-danger"></small>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3 has-validation">
                                <input type="date" class="form-control" id="projectEndDate" th:field="*{endDate}" required th:min="${projectStartDate}" onchange="setNewMax()">
                                <label for="projectEndDate" class="form-label">End Date</label>
                            </div>
                        </div>
                        <small id="endDateFeedback" class="text-danger"></small>
                    </div>
                    <div class="row justify-content-end">
                        <ul id="errors" class="col"></ul>
                        <div class="col col-md-4 col-lg-2">
                            <button type="button" id="cancel" class="btn btn-secondary btn-lg buttons" th:onclick="hideEditSchedulable('1', '1', 'project')">Cancel</button>
                        </div>
                        <div class="col col-md-3 col-lg-2">
                            <button type="submit" class="btn btn-primary btn-lg buttons pull-right">Save Changes</button>
                        </div>
                    </div>
                    <ul th:if="${invalidDateRange}">
                        <li th:each="dateError: ${invalidDateRange}" th:text="${dateError}" th:class="error"></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
