<!DOCTYPE html>
<html>
<body>

<!-- User fragment for groups -->
<tr th:fragment="groupMember" class="row">
    <td class="col-sm-auto" th:if="${canEdit}" ><div class="form-check" style="margin-left:10px">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    </div></td>
    <td class="col-sm-auto"><img class="profile-icon" th:src="${userProfileImagePath}" alt="User profile photo"></td>
    <td class="col" th:text="|${name}|"></td>
    <td class="col-sm-auto">
        <button th:if="${groupId != membersWithoutGroupsId && canEdit}" class="remove-button" >
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
            </svg>
        </button>
    </td>
</tr>

<header th:fragment="header">
    <script th:src="@{|${@environment.getProperty('base-url')}scripts/fragments.js|}"></script>
    <div class="header">
        <div class="header-top-group">
            <div class="title">
                <div class="title-name" th:text="${title}" data-cy="pageTitle" />
                <div class="title-date" th:text="${subtitle}" />
            </div>
            <div class="title-username" th:text="${G_PrincipalData.getUsername}" />
            <div class="dropdown">
                <button th:style="|background-image: url(${G_ProfilePic})|" class="profile-icon" onclick="toggleMenu()">
                </button>
                <div id="userMenu" class="dropdown-content">
                    <a th:href="@{|${@environment.getProperty('base-url')}users/current|}">
                        <button th:text="Profile" />
                    </a>
                    <form th:action="@{|${@environment.getProperty('base-url')}logout|}" method="post">
                        <button type="submit" th:text="Logout" />
                    </form>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${tab} == 0 ? active : ''" data-cy="navProjectDetails" th:href="@{|${@environment.getProperty('base-url')}project/0/|}">Project Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${tab} == 2 ? active : ''" data-cy="navMonthlyCalendar" th:href="@{|${@environment.getProperty('base-url')}monthlyCalendar/0|}">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${tab} == 1 ? active : ''" data-cy="navUsers" th:href="@{|${@environment.getProperty('base-url')}users|}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${tab} == 3 ? active : ''" data-cy="navGroups" th:href="@{|${@environment.getProperty('base-url')}groups|}">Groups</a>
            </li>
        </ul>
    </div>
</header>

</body>
</html>
