<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<!-- User fragment for groups -->
<tr th:fragment="groupMember" class="row">
    <td th:class="|col-auto checkbox user-${groupId}|" hidden th:if="${canEdit}" ><div th:class="|form-check |" style="margin-left:10px">
        <input class="form-check-input" type="checkbox"  name="user_id" th:value="${userId}" id="flexCheckDefault">
    </div></td>
    <td class="col-auto"><img class="profile-icon" th:src="${userProfileImagePath}" alt="User profile photo"></td>
    <td class="col" th:text="|${name}|"></td>
    <td class="col-auto">
        <button type="button" th:if="${groupId != membersWithoutGroupsId && canEdit}" class="remove-button" >
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
            </svg>
        </button>
    </td>
</tr>

<!-- Group fragment -->
<div th:fragment="group" class="card group-block container-auto" th:id ="|group-${groupId}|">
    <div class="row">
        <div class="col-auto">
            <div class="sprint-title" th:text="${shortName}" th:id ="|group-${groupId}-sname|"/>
            <div class="sprint-description" th:text="${longName}" th:id ="|group-${groupId}-lname|"/>
        </div>
        <div class="col"></div>
        <div class="col-auto" hidden th:if="${groupId != membersWithoutGroupsId && canEdit}" th:id="|remove-users-${groupId}|">
            <button type="button" th:onclick="|sendFormViaAjax(${groupId}, 'remove-members')|" class="btn btn-remove-users btn-sm" >Remove Selected Users</button>
        </div>
        <div class="col-auto" hidden th:if="${groupId != membersWithoutGroupsId && canEdit}" th:id="|add-users-${groupId}|">
            <button type="button" th:onclick="|sendFormViaAjax(${groupId}, 'add-members')|" class="btn btn-add-users btn-sm" >Add Selected Users</button>
        </div>
        <div class="col-auto" >
            <button type="button" th:if="${canEdit}" class="btn btn-select btn-sm" th:onclick="|startSelecting(${groupId}, this)|" th:groupid="${groupId}">Select Users</button>
        </div>
        <div class="col-auto" th:if="${groupId != membersWithoutGroupsId && groupId != teacherGroupId && canEdit}">
            <button class="delete-button" >
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                </svg>
            </button>
        </div>
        <div class="col-auto">
            <a class="edit-button" href="./groups/0">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                    <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
            </a>
        </div>
    </div>
    <hr/>
    <div th:if="${numMembers == 0}" style="text-align:center">
        <strong>[ This group has no members. ]</strong>
    </div>
    <div th:if="${numMembers > 0}">
        <div class="row collapse" th:id="|group-${groupId}-collapse|">
            <div class="text-center" data-bs-toggle="collapse" th:data-bs-target="|#group-${groupId}-collapse|">
                <div class="col"><button type="button" class="show-users" th:text="|Hide users (${numMembers})|" th:onclick="|toggleById(${groupId})|"></button></div>
            </div>
            <div class="col">
                <table class="table container-auto" th:id="|group-${groupId}-table|">
                </table>
            </div>
        </div>
        <div class="row text-center" data-bs-toggle="collapse" th:data-bs-target="|#group-${groupId}-collapse|">
            <div class="col"><button type="button" class="show-users" th:text="|Show users (${numMembers})|"
                                     th:id="|user-button-${groupId}|" onclick="toggleUsersButton(this)" th:showText="|Hide users (${numMembers})|"></button></div>
        </div>
    </div>
</div>

<header th:fragment="header">
    <script th:src="@{|${@environment.getProperty('base-url')}scripts/fragments.js|}"></script>
    <div class="header">
        <div class="header-top-group">
            <div class="title">
                <div class="title-name" th:text="${title}" data-cy="pageTitle" />
                <div class="title-date" th:text="${subtitle}" />
            </div>
            <div class="title-username" th:text="${G_PrincipalData.getUsername}" />
            <div class="dropdown">
                <button th:style="|background-image: url(${G_ProfilePic})|" class="profile-icon" onclick="toggleMenu()">
                </button>
                <div id="userMenu" class="dropdown-content">
                    <a th:href="@{|${@environment.getProperty('base-url')}users/current|}">
                        <button th:text="Profile" />
                    </a>
                    <form th:action="@{|${@environment.getProperty('base-url')}logout|}" method="post">
                        <button type="submit" th:text="Logout" />
                    </form>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${tab} == 0 ? active : ''" data-cy="navProjectDetails" th:href="@{|${@environment.getProperty('base-url')}project/0/|}">Project Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${tab} == 2 ? active : ''" data-cy="navMonthlyCalendar" th:href="@{|${@environment.getProperty('base-url')}monthlyCalendar/0|}">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${tab} == 1 ? active : ''" data-cy="navUsers" th:href="@{|${@environment.getProperty('base-url')}users|}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${tab} == 3 ? active : ''" data-cy="navGroups" th:href="@{|${@environment.getProperty('base-url')}groups|}">Groups</a>
            </li>
        </ul>
    </div>
</header>

</body>
</html>
