<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="${loginMessage}" />

<p>Get to Registration page: <a th:href="@{/register}">register_here</a></p>

    <div id="loginform">
        <form th:action="@{/login}" method="post">
            <input class="inputs" type="text" th:name="username" th:value="*{username}" required placeholder="username">
            <br>
            <input class="inputs" type="password" th:name="password" th:value="*{password}" required placeholder="password">
            <br>
            <button type="submit" class="inputs">Log In</button>
        </form>
        <form th:action="@{/greeting}">
            <button type="submit" class="inputs"> Register </button>   <!-- replace with register page -->
        </form>
        <p th:text="${loginMessage}" />
    </div>
    
</body>

<style>
    #loginform {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        text-align: center;
    }
    .inputs {
        width: 20em;
        height: 2em;
        margin: 2px;
    }
</style>

</html>