<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="|../styles/main.css|" rel="stylesheet" />
    <link th:href="|../styles/monthlyCalendar.css|" rel="stylesheet" />
    <link th:href="|../webjars/fullcalendar/5.10.2/main.css|" rel="stylesheet">
    <script th:src="|../webjars/fullcalendar/5.10.2/main.js|"></script>

    <script>
        // Getting the project start and end date
        let projectStartDate = "[[${projectStartDate}]]";
        let projectEndDate = "[[${projectEndDate}]]";

        // Getting all sprints' string names, start dates, end dates, and colours
        let sprintNames = "[[${sprintNames}]]";
        let sprintStartDates = "[[${sprintStartDates}]]";
        let sprintEndDates = "[[${sprintEndDates}]]";
        let sprintColours = "[[${sprintColours}]]";

        let sprintsEditable = "[[${sprintsEditable}]]"

    </script>
    <script th:src="|../scripts/monthlyCalendar.js|"></script>

</head>
<body>
    <div th:replace="fragments :: header(title=${|${project.getProjectName} - Calendar|}', subtitle=${|${project.getStartDateString} - ${project.getEndDateString}|})"></div>
    <div class="content">
        <div id='calendar'></div>
    </div>
</body>
</html>