<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Profile</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" th:href="|../styles/main.css|">
    <link rel="stylesheet" th:href="|../styles/profile.css|">
    <link rel="stylesheet" th:href="|../styles/form.css|">
    <link rel="stylesheet" th:href="|../styles/users.css|">

</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <div th:replace="fragments :: header(title='Profile', subtitle=${userExists} ? ${fullName} : 'User not Found')"></div>

    <p class="errors" th:if="${errors}" th:each="errMsg : ${errors}">
        <th th:text="${errMsg}"></th>
        <br>

    <div class="content" th:if="${userExists}" th:object="${profileInfo}">
        <div class="sprint-block">
            <img class="profile-image" alt="Profile Image" th:src="${profileImageURL}">
            <div class="detail-block">
                <div>
                    <div class="sprint-title" style="font-size: x-large" th:text="${fullName}" />
                    <div th:if="*{getPersonalPronouns} != ''" class="sprint-date" th:text="|Pronouns: *{getPersonalPronouns()}|" />
                    <div th:if="*{getNickname} != ''" class="sprint-description" th:text="|Nickname: *{getNickname()}|" />
                    <br/>
                    <div class="sprint-description" th:text="|Username: *{getUsername()}|" />
                    <div class="sprint-description">Email: <a th:href="|mailto:*{getEmail()}|" th:text="*{getEmail()}"/></div>
                    <div class="sprint-description">Role:
                        <span class="role" th:each="role: ${roles}" th:text="${#roles.toName(role)}" />
                    </div>
                </div>
            </div>
        </div>
        <div th:if="*{getBio()} != ''" class="detail-block">
            <div class="sprint-description" th:text="*{getBio()}"/>

    </div>
        <div  style="justify-content:space-between" class="sprint-block">
            <div th:text="${dateCreated}"></div>

            <!--/*
                Only render if the logged in user's ID is this page's ID
            */-->
            <a th:if="${isCurrentUser}" th:href="|./${id}/edit|">
                <button class="form-button save">Edit Profile</button>
            </a>
        </div>
    </div>

</body>

</html>
