<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" th:href=@{/styles/style.css}>

</head>

<body>
    <header th:replace="~{fragments :: header}"></header>

    <p class="errors" th:if="${errors}" th:each="errMsg : ${errors}">
        <th th:text="${errMsg}"></th>
        <br>

    <div class="profile" th:if="${userExists}" th:object="${profileInfo}">
        <div class="profile-info">
            <img width="250" height="250" th:src=@{/img/default-pfp.jpg}>

            <strong class="name" th:text="*{getUsername()}"></strong>
            <br>
            <span th:text="${fullName}"></span>
            <br>
            <i><a th:href="|mailto:*{getEmail()}|" th:text="*{getEmail()}"></a></i>
            <br>
            <span th:if="*{getPersonalPronouns()}" th:text="|🗨 *{getPersonalPronouns()}|"></span>
            <br>
            <span th:text="${dateCreated}"></span>
            <br>

            <!--
            /* This broke when changing the way fields are added and I don't really know what it does so I'm not going to fix it just yet */
            <p th:if="*{getBio()}" class="bio" th:utext="*{| &lt;hr&gt; ${#strings.replace(#strings.escapeXml(getBio()), '&#10', '&lt;br&gt;')} |}" />
            -->
            <!--/*
                Only render if the logged in user's ID is this page's ID 
            */-->
            <a>
                <button>Edit</button>
            </a>
        </div>
    </div>


</body>

</html>
