<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="${project.getProjectName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link th:href="|../../styles/main.css|" rel="stylesheet" />
    <link th:href="|../../styles/modals.css|" rel="stylesheet" />
    <link th:href="|../../styles/reskinBootstrap.css|" rel="stylesheet" />
    <script th:src="|../../scripts/editProject.js|"></script>

</head>

<body onload="connect()"> <!-- Immediately connect to WebSocket -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script th:src="|../../scripts/projectDetails.js|"></script>

    <!-- WebSockets -->
    <script th:src="|https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js|" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:src="|https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js|" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:src="|../../scripts/websocketHandler.js|"></script>

<div id="deleteModal" class="modal">
    <div class="modal-content container">
        <div class="row">
            <div class="modal-title"></div></div>
        <br/>
        <div class="row">
            <div class="col-2">
                <button onclick="hideModal()" class="btn btn-neutral btn-lg">Cancel</button>
            </div><div class="col">
            <button id="deleteButton" class="btn btn-primary btn-lg">Delete</button>
        </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: header(title=${project.getProjectName}, subtitle=|${project.getStartDateString} - ${project.getEndDateString}|)"></div>
<div class="container-fluid content">
    <div class="detail-block">
        <div th:text="${project.getProjectDescription}"/>
        <a class="edit-button" th:if="${canEdit}" data-bs-toggle="collapse" data-bs-target="#editProjectForm-1" th:onclick="showEditProjectForm([[${project}]])">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
        </a>

    </div>
    <div th:replace="editProject :: projectEditForm(
                    project=${project},
                    projectStartDate=${#dates.format(project.getProjectStartDate, dateISOFormat)},
                    projectEndDate=${#dates.format(project.getProjectEndDate, dateISOFormat)},
                    minNameLen=${minNameLen},
                    maxNameLen=${maxNameLen},
                    maxDescLen=${maxDescLen})"></div>
    <hr/>
<!--Add Schedulable Buttons-->
    <div class="flex-row">
        <a class="btn btn-primary btn-lg" th:if="${canEdit}" th:href="|../../add-sprint/${project.getId}|">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Add Sprint
        </a>
        <button class="btn btn-primary btn-lg" th:if="${canEdit}" data-bs-toggle="collapse" data-bs-target="#addEventForm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-calendar-event" viewBox="0 0 16 16">
                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
            Add Event
        </button>
        <button class="btn btn-primary btn-lg" th:if="${canEdit}" data-bs-toggle="collapse" data-bs-target="#addDeadlineForm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-hourglass-bottom" viewBox="0 0 16 16">
                <path d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236 1.011-1.492A3.5 3.5 0 0 0 11.5 3V2h-7z"/>
            </svg>
            Add Deadline
        </button>
        <button class="btn btn-primary btn-lg" th:if="${canEdit}" data-bs-toggle="collapse" data-bs-target="#addMilestoneForm">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-trophy-fill" viewBox="0 0 16 16">
                <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
            </svg>
            Add Milestone
        </button>
    </div>
</div>


<!--/*
    Add Schedulable Forms
    */-->
<!--/* Clipping off the offset (The +1200 at the end) because HTML forms don't accept them */-->
<div th:if="${canEdit}"
     th:with="projectStart=${#dates.format(project.getProjectStartDate, dateISOFormat)},
         projectEnd=${#dates.format(project.getProjectEndDate, dateISOFormat)}">
    <div th:replace="detailFragments :: schedulableAddForm(
                    type='event',
                    canEdit=${canEdit},
                    minNameLen=${minNameLen},
                    maxNameLen=${maxNameLen},
                    maxDescLen=${maxDescLen},
                    projectStart=${projectStart},
                    projectEnd=${projectEnd})" ></div>
    <div th:replace="detailFragments :: schedulableAddForm(
                    type='deadline',
                    canEdit=${canEdit},
                    minNameLen=${minNameLen},
                    maxNameLen=${maxNameLen},
                    maxDescLen=${maxDescLen},
                    projectStart=${projectStart},
                    projectEnd=${projectEnd})" ></div>
    <div th:replace="detailFragments :: schedulableAddForm(
                    type='milestone',
                    canEdit=${canEdit},
                    minNameLen=${minNameLen},
                    maxNameLen=${maxNameLen},
                    maxDescLen=${maxDescLen},
                    projectStart=${projectStart},
                    projectEnd=${projectEnd})" ></div>

</div>
    <!-- The first schedulables outside the sprint -->
    <div class="schedulable-list-container outside-schedulable" id="schedulables-before">
        <div th:if="${!#arrays.isEmpty(schedulables)} and ((${!#arrays.isEmpty(sprints)} and ${schedulable.getStartDate()} < ${sprints.get(0).getSprintStartDate()}) or ${#arrays.isEmpty(sprints)})"
             th:each="schedulable: ${schedulables}" >
            <div th:replace="detailFragments :: ${schedulable.getType()}(
                    ${schedulable.getType()}=${schedulable},
                    canEdit=${canEdit},
                    boxId=${schedulable.getId} + '-before',
                    minNameLen=${minNameLen},
                    maxNameLen=${maxNameLen},
                    maxDescLen=${maxDescLen},
                    projectStart=${#lensfolioDates.toString(project.getProjectStartDate())},
                    projectEnd=${#lensfolioDates.toString(project.getProjectEndDate())})" ></div>
        </div>
    </div>
    <!-- /* The project's sprints */ -->
    <div th:unless="${#arrays.isEmpty(sprints)}" th:each="sprint,iterStat: ${sprints}" th:object="${sprint}">
        <div class="sprint-block">
            <div class="sprint-label" th:text="*{getSprintLabel}" th:style="'background-color:'+ *{getSprintColour} + '4c'" ></div>
            <div class="detail-block">
                <div>
                    <div class="sprint-title" th:text="*{getSprintName}" ></div>
                    <div class="sprint-date" th:text="|*{getStartDateString} - *{getEndDateString}|" ></div>
                    <div class="sprint-description" th:text="*{getSprintDescription}" ></div>
                </div>
                <div>
                    <button th:if="${canEdit}" class="edit-button" th:onclick="showEditSprintForm([[${sprint}]])" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                    </button>
                    <br/>
                    <button th:if="${canEdit}" class="delete-button" type="submit" th:data-parameter1="*{getId()}" th:data-parameter2="*{getSprintName()}" th:data-parameter3="sprint" th:onclick="showDeleteModal(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'), 'sprint')" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                        </svg>
                    </button>
                </div>
                <div class="break"></div>
                <!-- For edit sprint -->
                <div th:replace="editSprint :: sprintEditForm(
                    sprint=${sprint},
                    sprintStartDate=${#dates.format(sprint.getSprintStartDate, dateISOFormat)},
                    sprintEndDate=${#dates.format(sprint.getSprintEndDate, dateISOFormat)},
                    minNameLen=${minNameLen},
                    maxNameLen=${maxNameLen},
                    maxDescLen=${maxDescLen},
                    projectId=${project.getId()},
                    projectStart=${#lensfolioDates.toString(project.getProjectStartDate())},
                    projectEnd=${#lensfolioDates.toString(project.getProjectEndDate())})"></div>

                <div class="break"></div>
                <!-- The schedulables inside the sprint -->
                <div class="schedulable-list-container" th:id="'schedulables-in-' + *{getId}">
                    <div th:if="${!#arrays.isEmpty(schedulables)} and ${schedulable.getStartDate()} <= *{getSprintEndDate} and ${schedulable.getEndDate()} >= *{getSprintStartDate}"
                         th:each="schedulable: ${schedulables}" >
                        <div th:replace="detailFragments :: ${schedulable.getType()}(
                                ${schedulable.getType()}=${schedulable},
                                canEdit=${canEdit},
                                boxId=${schedulable.getId} + '-in-' + *{getId},
                                minNameLen=${minNameLen},
                                maxNameLen=${maxNameLen},
                                maxDescLen=${maxDescLen},
                                projectStart=${#lensfolioDates.toString(project.getProjectStartDate())},
                                projectEnd=${#lensfolioDates.toString(project.getProjectEndDate())})" ></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- The schedulables outside the sprint -->
        <div class="schedulable-list-container outside-schedulable" th:id="'schedulables-after-' + *{getId}" th:unless="${iterStat.index+1 < iterStat.size} and (${#lensfolioDates.isDayAfter(sprints.get(iterStat.index+1).getSprintStartDate(), sprint.getSprintEndDate())})">
            <div th:if="${!#arrays.isEmpty(schedulables)} and ((${iterStat.index+1 < iterStat.size} and ${schedulable.getStartDate()} < ${sprints.get(iterStat.index+1).getSprintStartDate()} and ${schedulable.getEndDate()} > *{getSprintEndDate}) or (${iterStat.index == iterStat.size-1} and ${schedulable.getEndDate()} > *{getSprintEndDate}))"
                 th:each="schedulable: ${schedulables}" >
                <div th:replace="detailFragments :: ${schedulable.getType()}(
                    ${schedulable.getType()}=${schedulable},
                    canEdit=${canEdit},
                    boxId=${schedulable.getId} + '-after-' + *{getId},
                    minNameLen=${minNameLen},
                    maxNameLen=${maxNameLen},
                    maxDescLen=${maxDescLen},
                    projectStart=${#lensfolioDates.toString(project.getProjectStartDate())},
                    projectEnd=${#lensfolioDates.toString(project.getProjectEndDate())})" ></div>
            </div>
        </div>
    </div>
    <!--/* If the project has no sprints */-->
    <div th:if="${#arrays.isEmpty(sprints)}" style="text-align:center">
        <strong>[ This project has no sprints ]</strong>
    </div>

<!-- Used for event editing popups -->
<div>
    <div id="user" th:data-name="${user}" value="${user}" />
    <div id="userId" th:data-name="${userId}" value="${userId}" /> <!-- there must be a better way of doing this -->
</div>
<!--/*
    JS files are static, and thus don't know anything about the project (i.e. the base URL).
    This code sets a global variable inside this template (which does know the base URL),
    which the imported script can access.
*/-->
<script th:inline="javascript">
    var BASE_URL = /*[[ ${@environment.getProperty('base-url')} ?: '/' ]]*/ "";
    var canEdit = /*[[ ${canEdit} ]]*/ null;

    // Bind a 'characters remaining' display to their output
    showRemainingChars();

    /** Required for initialisation of bootstrap tooltip for schedulable descriptions */
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            trigger : 'hover'
        });
    });
</script>
</body>
</html>
