<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Register </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/styles/css_register.css}" />
</head>
<body>
<div class="container">
    <h2 class="title"> Registration Form </h2>

    <form th:action="@{/register}" th:object="${user}" method="post">
        <div class="user-info">
            <div class="input-box">
                <label class="required"> Username </label>
                <input type="text" placeholder="Enter your username" th:field="*{username}" th:required="required" maxlength="15"/><br>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:errorclass="error" />
            </div>
            <div class="input-box">
                <label class="required"> First Name </label>
                <input type="text" placeholder="Enter your first name" th:field="*{firstName}" th:required="required" maxlength="20"/><br>
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error" />
            </div>
            <div class="input-box">
                <label> Middle Name </label>
                <input type="text" placeholder="Enter your middle name" th:field="*{middleName}" maxlength="20" />
                <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}" th:errorclass="error" />
            </div>
            <div class="input-box">
                <label class="required"> Last Name </label>
                <input type="text" placeholder="Enter your last name" th:field="*{lastName}" th:required="required" maxlength="20"/><br>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="error" />
            </div>
            <div class="input-box">
                <label> Nickname </label>
                <input type="text" placeholder="Enter your nickname" th:field="*{nickname}" maxlength="20" />
                <span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" th:errorclass="error" />
            </div>
            <div class="input-box">
                <label> Personal Pronouns </label>
                <input type="text" placeholder="Enter your personal pronouns" th:field="*{personalPronouns}" maxlength="10" />
                <span th:if="${#fields.hasErrors('personalPronouns')}" th:errors="*{personalPronouns}" th:errorclass="error" />
            </div>
            <div class="input-box">
                <label class="required"> Password </label>
                <input type="password" placeholder="Enter your password" th:field="*{password}" th:required="required" /><br>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error" />

            </div>
            <div class="input-box">
                <label class="required"> Confirm Password </label>
                <input type="password" th:unless="${#fields.hasErrors('passwordsEqual')}" class="form-control"
                       placeholder="Password" th:field="*{confirmPassword}">
                <input type="password" th:if="${#fields.hasErrors('passwordsEqual')}" class="form-control alert-danger"
                       placeholder="Password" th:field="*{confirmPassword}">
                <span th:errorclass="error" th:if="${#fields.hasErrors('passwordsEqual')}" th:errors="*{passwordsEqual}"></span>
            </div>
            <div class="input-box">
                <label class="required"> Email </label>
                <input th:type="email" placeholder="Enter your email" th:field="*{email}" th:required="required" /><br>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error" />
            </div>
            <div class="input-box">
                <label> Bio </label>
                <textarea class="textarea" placeholder="Enter your bio" th:field="*{bio}" maxlength="200"/><br>
                <span th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}" th:errorclass="error" />
            </div>

        </div>
        <div class="submit">
            <input type="submit" value="Submit">
        </div>
    </form>
    <p th:text="${registerMessage}" />
</div>
</body>
</html>
