<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <link rel="stylesheet" th:href="@{/styles/css_register.css}" /> -->
</head>
<body>

    <div id="registerform">
        <form th:action="@{/register}" method="post">
            <input class="inputs" type="text" th:name="username" th:value="*{username}" required placeholder="Username">
            <br>
            <input class="inputs" type="password" th:name="password" th:value="*{password}" required placeholder="Password">
            <br>
            <input class="inputs" type="text" th:name="firstName" th:value="*{firstName}" required placeholder="First Name">
            <br>
            <input class="inputs" type="text" th:name="middleName" th:value="*{middleName}" placeholder="Middle Name">
            <br>
            <input class="inputs" type="text" th:name="lastName" th:value="*{lastName}" required placeholder="Last Name">
            <br>
            <input class="inputs" type="text" th:name="nickname" th:value="*{nickname}" placeholder="Nickname">
            <br>
            <input class="inputs" type="text" th:name="bio" th:value="*{bio}" placeholder="Bio">
            <br>
            <input class="inputs" type="text" th:name="personalPronouns" th:value="*{personalPronouns}" placeholder="Personal Pronouns">
            <br>
            <input class="inputs" type="email" th:name="email" th:value="*{email}" required placeholder="Email">
            <br>
            <button type="submit" class="inputs">Register</button>
        </form>
        <p th:text="${registerMessage}" />
    </div>

<!--
    <div class="container">
        <h2 class="title"> Registration Form </h2>

        <form th:action="@{/register}" method="post">
            <div class="user-info">
                <div class="input-box">
                    <label> Username* </label>
                    <input type="text" placeholder="Enter your username" th:field="*{username}" th:required="required" /><br>
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:errorclass="error" />
                </div>
                <div class="input-box">
                    <label> First Name* </label>
                    <input type="text" placeholder="Enter your first name" th:field="*{firstName}" th:required="required" /><br>
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error" />
                </div>
                <div class="input-box">
                    <label> Middle Name </label>
                    <input type="text" placeholder="Enter your middle name" th:field="*{middleName}" maxlength="15" />
                </div>
                <div class="input-box">
                    <label> Last Name* </label>
                    <input type="text" placeholder="Enter your last name" th:field="*{lastName}" th:required="required" /><br>
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="error" />
                </div>
                <div class="input-box">
                    <label> Nickname </label>
                    <input type="text" placeholder="Enter your nickname" th:field="*{nickname}" maxlength="15" />
                </div>
                <div class="input-box">
                    <label> Personal Pronouns </label>

                    <select class="select-box" th:field="*{personalPronouns}">
                        <option value="" th:disabled="disabled" th:selected="selected"> Choose </option>
                        <option value="He"> He </option>
                        <option value="She"> She </option>
                        <option value="They"> They </option>
                        <option value="Other"> Other </option>
                    </select>
                </div>
                <div class="input-box">
                    <label> Password* </label>
                    <input type="password" placeholder="Enter your password" th:field="*{password}" th:required="required" /><br>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error" />

                </div>
                <div class="input-box">
                    <label> Confirm Password* </label>
                    <input type="password" th:unless="${#fields.hasErrors('passwordsEqual')}" class="form-control"
                           placeholder="Password" th:field="*{confirmPassword}">
                    <input type="password" th:if="${#fields.hasErrors('passwordsEqual')}" class="form-control alert-danger"
                           placeholder="Password" th:field="*{confirmPassword}">
                    <span th:errorclass="error" th:if="${#fields.hasErrors('passwordsEqual')}" th:errors="*{passwordsEqual}"></span>
                </div>
                <div class="input-box">
                    <label> Email* </label>
                    <input th:type="email" placeholder="Enter your email" th:field="*{email}" th:required="required" /><br>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error" />
                </div>
                <div class="input-box">
                    <label> Bio </label>
                    <textarea class="textarea" placeholder="Enter your bio" th:field="*{bio}" />
                </div>

            </div>
            <button type="submit" class="inputs">Register</button>
        </form>
        <p th:text="${registerMessage}" />
    </div>
-->
</body>
</html>