<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Register </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/styles/css_register.css}" />
</head>
<body>
    <div class="container">
        <h2 class="title"> Registration Form </h2>

        <form th:action="@{/register}" th:object="${user}" method="post">
            <div class="user-info">
                <div class="input-box">
                    <label> Username* </label>
                    <input type="text" placeholder="Enter your username" th:field="*{userName}" th:required="required" /><br>
                    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" th:errorclass="error" />
                </div>
                <div class="input-box">
                    <label> First Name* </label>
                    <input type="text" placeholder="Enter your first name" th:field="*{firstName}" th:required="required" /><br>
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error" />
                </div>
                <div class="input-box">
                    <label> Middle Name </label>
                    <input type="text" placeholder="Enter your middle name" th:field="*{middleName}" maxlength="15" />
                </div>
                <div class="input-box">
                    <label> Last Name* </label>
                    <input type="text" placeholder="Enter your last name" th:field="*{lastName}" th:required="required" /><br>
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="error" />
                </div>
                <div class="input-box">
                    <label> Nick Name </label>
                    <input type="text" placeholder="Enter your last name" th:field="*{nickName}" maxlength="15" />
                </div>
                <div class="input-box">
                    <label> Personal Pronouns </label>

                    <select class="select-box" th:field="*{pronouns}">
                        <option value="" th:disabled="disabled" th:selected="selected"> Choose </option>
                        <option value="He"> He </option>
                        <option value="She"> She </option>
                        <option value="They"> They </option>
                        <option value="Other"> Other </option>
                    </select>
                </div>
                <div class="input-box">
                    <label> Password* </label>
                    <input type="password" placeholder="Enter your password" th:field="*{password}" th:required="required" /><br>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error" />

                </div>
                <div class="input-box">
                    <label> Confirm Password* </label>
<!--                    <input type="password" placeholder="Confirm your password" th:field="*{confirmPassword}" th:required="required" /><br>-->
<!--                    <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" th:errorclass="error" />-->
                    <input type="password" th:unless="${#fields.hasErrors('passwordsEqual')}" class="form-control"
                           placeholder="Password" th:field="*{confirmPassword}">
                    <input type="password" th:if="${#fields.hasErrors('passwordsEqual')}" class="form-control alert-danger"
                           placeholder="Password" th:field="*{confirmPassword}">
                    <span th:errorclass="error" th:if="${#fields.hasErrors('passwordsEqual')}" th:errors="*{passwordsEqual}"></span>
                </div>
                <div class="input-box">
                    <label> Email* </label>
                    <input th:type="email" placeholder="Enter your email" th:field="*{email}" th:required="required" /><br>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error" />
                </div>
                <div class="input-box">
                    <label> Bio </label>
                    <textarea class="textarea" placeholder="Enter your bio" th:field="*{bio}" />
                </div>

            </div>
            <div class="submit">
                <input type="submit" value="Submit">
            </div>
        </form>
        <p th:text="${registerMessage}" />
    </div>
</body>
</html>