<!--/*
    Note the @{''()} pattern used in this document:
        @{} is for URL expressions
        ''  is an empty string, no forward-slash so it's relative to THIS url (won't parse without it)
        (page=...) adds query parameters [?page=...]
        Example - th:href="@{''(page=${i})}", if i=1, gets rendered as:
            href="?page=1"
        i.e. the current URL, but with a query parameter.
*/-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Users</title>

    <link rel="stylesheet" th:href="|./styles/main.css|">
    <link rel="stylesheet" th:href="|./styles/users.css|">
    <!--/*
        JS files are static, and thus don't know anything about the project (i.e. the base URL).
        This code sets a global variable inside this template (which does know the base URL),
        which the imported script can access.
    */-->
    <script th:inline="javascript">
        var BASE_URL = /*[[ ${@environment.getProperty('base-url')} ]]*/ "/";
    </script>
    <script defer th:src="|../scripts/editRoles.js|"></script>

</head>

<body>
<div th:replace="fragments :: header(title='Users')"></div>
<br>
<div class="users">
    <table>
        <!--/* Table header */-->
        <col style="width:30%">
        <col style="width:15%">
        <col style="width:15%">
        <col style="width:40%">
        <thead>
            <tr>
                <th>
                    <form method="post" th:action="@{''(page=${page}, orderBy='name')}">
                        <a class="clickable" onclick="this.parentNode.submit()">
                            Name
                            <span th:if="${orderBy == 'name'}" th:text="${dir} ? '▼' : '▲'" />
                        </a>
                    </form>
                </th>
                <th>
                    <form method="post" th:action="@{''(page=${page}, orderBy='username')}">
                        <a class="clickable" onclick="this.parentNode.submit()">
                            Username
                            <span th:if="${orderBy == 'username'}" th:text="${dir} ? '▼' : '▲'" />
                        </a>
                    </form>
                </th>
                <th>
                    <form method="post" th:action="@{''(page=${page}, orderBy='nickname')}">
                        <a class="clickable" onclick="this.parentNode.submit()">
                            Alias
                            <span th:if="${orderBy == 'nickname'}" th:text="${dir} ? '▼' : '▲'" />
                        </a>
                    </form>
                </th>
                <th>
                    <form method="post" th:action="@{''(page=${page}, orderBy='role')}">
                        <a class="clickable" onclick="this.parentNode.submit()">
                            Role
                            <span th:if="${orderBy == 'role'}" th:text="${dir} ? '▼' : '▲'" />
                        </a>
                    </form>
                </th>
            </tr>
            </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="2"> No users found </td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.getFirstName() +' '+ user.getMiddleName() + ' ' + user.getLastName()}"> Name </span></td>
            <td><span th:text="${user.getUsername()}"> Username </span></td>
            <td><span th:text="${user.getNickname()}"> Alias </span></td>
            <td style="display: flex; justify-content: space-between">

                <div class="roles-list">
                <div class="role" th:each="role: ${user.getRolesList()}">
                    <span th:text="${#strings.capitalizeWords(#strings.replace(role, '_', ' ').toLowerCase)}"></span>
                    <!--/* Only show the 'delete role' button if:
                            1. It's not their only role
                            2. The client has PERMISSION to edit
                            3. The role isn't higher than the client's highest
                    */-->
                    <button th:if="${user.getRolesList().size() > 1 && canEdit && #arrays.contains(acceptableRoles, role)}"
                            class="remove-role-button" onclick="onclickRemoveRole(this)"
                            th:data-userid="${user.getId()}" th:data-role="${role}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                </div>
                </div>

                <div class="dropdown" th:if="${canEdit}">
                    <button id="add-role-button" class="add-role-button" th:onclick='|toggleRoleList("roleList${user.getId()}")|'>
                        <svg id="add-role-button" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path id="add-role-button" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg></button>
                    <div th:id='|roleList${user.getId()}|' class="dropdown-content">
                        <button th:each="role: ${acceptableRoles}"
                                th:if="${!#arrays.contains(user.getRolesList, role)}"
                                th:text="${#roles.toName(role)}" th:user-id="${user.getId()}" th:role="${role}" th:onclick="addRole(this.getAttribute('user-id'), this.getAttribute('role'))"></button>
                    </div>
                </div>

<!--                &lt;!&ndash;/* "Add roles" button. Only visible to teachers or above */&ndash;&gt;-->
<!--                <div class="dropdown" th:if="${canEdit}">-->
<!--                    <button onclick="addRoleFunction(this, event)" class="add-role-button" th:data-userid="${user.getId()}">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 20 14">-->
<!--                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>-->
<!--                        </svg>-->
<!--                    </button>-->
<!--                    <div th:id="|myDropdown-${user.getId()}|" class="dropdown-content">-->
<!--                        &lt;!&ndash;/* Only show roles the user doesn't have, and have permission to add*/&ndash;&gt;-->
<!--                        &lt;!&ndash;/* That long text call turns `COURSE_ADMINISTRATOR` into `Course Administrator` */&ndash;&gt;-->
<!--                        <a th:each="role: ${acceptableRoles}"-->
<!--                          th:if="${!#arrays.contains(user.getRolesList, role)}"-->
<!--                            th:text="${#roles.toName(role)}"-->
<!--                            onclick="alert('Add role endpoint not implemented')"></a>-->
<!--                    </div>-->
<!--                </div>-->

            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="pagination" th:if="${totalPages > 1}">
<!--        if not on first page, add link to first page -->
        <span class="pages otherPages" th:if="${page > 1}">
            <a th:href="@{''(page=1)}"> First </a>
        </span>
<!--        add link to PREV page -->
        <span class="pages otherPages" th:if="${page > 1}">
            <a th:href="@{''(page=${page - 1})}"> Prev </a>
        </span>
<!--        add link to all pages -->
<!--        check the total pages is less than or equal to two, then show pages based on it-->
        <th:block th:if="${totalPages <= 2}">
            <span class="pages" th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:href="@{''(page=${i})}" th:if="${i != page}"
                   class="otherPages">[[${i}]]</a>
                <span th:unless="${i != page}" class="currentPage">[[${i}]]</span>
            </span>
        </th:block>
<!--        check the total pages is more than two, then show pages based on it-->
        <th:block th:if="${totalPages > 2}">
            <th:block th:if="${page <= 2 || page >= totalPages - 1}">
                <span class="pages" th:each="i: ${#numbers.sequence(1, 2)}">
                    <a th:href="@{''(page=${i})}" th:if="${i != page}"
                       class="otherPages">[[${i}]]</a>
                    <span th:unless="${i != page}" class="currentPage">[[${i}]]</span>
                </span>

                <a th:href="@{''(page=3)}" class="otherPages" th:if="${totalPages != 4}">...</a>

                <span class="pages" th:each="i: ${#numbers.sequence(totalPages - 1, totalPages)}">
                    <a th:href="@{''(page=${i})}" th:if="${i != page}"
                       class="otherPages">[[${i}]]</a>
                    <span th:unless="${i != page}" class="currentPage">[[${i}]]</span>
                </span>
            </th:block>

            <th:block th:if="${page > 2 && page < totalPages - 1}">
                <a th:href="@{''(page=${page - 2})}" class="otherPages">...</a>

                <span class="pages" th:each="i: ${#numbers.sequence(page - 1, page + 1)}">
                    <a th:href="@{''(page=${i})}" th:if="${i != page}"
                       class="otherPages">[[${i}]]</a>
                    <span th:unless="${i != page}" class="currentPage">[[${i}]]</span>
                </span>

                <a th:href="@{''(page=${page + 2})}" class="otherPages">...</a>
            </th:block>
        </th:block>

<!--        add link to NEXT page -->
        <span class="pages otherPages" th:if="${page < totalPages}">
            <a th:href="@{''(page=${page + 1})}"> Next </a>
        </span>
<!--        add link to LAST page-->
        <span class="pages otherPages" th:if="${page < totalPages}">
            <a th:href="@{''(page=${totalPages})}"> Last </a>
        </span>
    </div>

</div>


</body>

</html>
