<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Users</title>

    <link rel="stylesheet" th:href=@{/styles/main.css}>
    <link rel="stylesheet" th:href=@{/styles/users.css}>

</head>

<body>
<div th:replace="fragments :: header(title='Users')"></div>
<br>
<div class="users" >
    <table>
        <thead>
        <tr>
            <th>
                <form method="post" th:action="@{/users/(page=${page}, orderBy='name')}">
                    <a class="clickable" onclick="this.parentNode.submit()">
                        Name
                        <span th:if="${orderBy == 'name'}" th:text="${dir} ? '▼' : '▲'" />
                    </a>
                </form>
            </th>
            <th>
                <form method="post" th:action="@{/users/(page=${page}, orderBy='username')}">
                    <a class="clickable" onclick="this.parentNode.submit()">
                        Username
                        <span th:if="${orderBy == 'username'}" th:text="${dir} ? '▼' : '▲'" />
                    </a>
                </form>
            </th>
            <th>
                <form method="post" th:action="@{/users/(page=${page}, orderBy='nickname')}">
                    <a class="clickable" onclick="this.parentNode.submit()">
                        Alias
                        <span th:if="${orderBy == 'nickname'}" th:text="${dir} ? '▼' : '▲'" />
                    </a>
                </form>
            </th>
            <th>
                <form method="post" th:action="@{/users/(page=${page}, orderBy='role')}">
                    <a class="clickable" onclick="this.parentNode.submit()">
                        Role
                        <span th:if="${orderBy == 'role'}" th:text="${dir} ? '▼' : '▲'" />
                    </a>
                </form>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="2"> No users found </td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.getFirstName() +' '+ user.getMiddleName() + ' ' + user.getLastName()}"> Name </span></td>
            <td><span th:text="${user.getUsername()}"> Username </span></td>
            <td><span th:text="${user.getNickname()}"> Alias </span></td>
            <td><span th:text="${user.getRolesList()}"> Roles </span></td>
        </tr>
        </tbody>
    </table>
    <br>
    <div class="pagination" th:if="${totalPages > 1}">
<!--        if not on first page, add link to first page -->
        <span class="pages otherPages" th:if="${page > 1}">
            <a th:href="@{/users/(page=1)}"> First </a>
        </span>
<!--        add link to PREV page -->
        <span class="pages otherPages" th:if="${page > 1}">
            <a th:href="@{/users/(page=${page - 1})}"> Prev </a>
        </span>
<!--        add link to all pages -->
        <span class="pages" th:each="i: ${#numbers.sequence(1, totalPages)}">
            <a th:href="@{/users/(page=${i})}" th:if="${page != i}"
                class="otherPages">[[${i}]]</a>
            <span th:unless="${page != i}" class="currentPage">[[${i}]]</span>
        </span>
<!--        add link to NEXT page -->
        <span class="pages otherPages" th:if="${page < totalPages}">
            <a th:href="@{/users/(page=${page + 1})}"> Next </a>
        </span>
<!--        add link to LAST page-->
        <span class="pages otherPages" th:if="${page < totalPages}">
            <a th:href="@{/users/(page=${totalPages})}"> Last </a>
        </span>
    </div>

</div>


</body>

</html>
